.body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentcolor;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1158px;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------------------- */
/* --------------HEADER------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-right: 76px;
  padding: 25.5px 0;
}

.span-header {
  color: #2e2f42;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-item {
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  border-radius: 2px;
  background: #404bbf;
  width: 0%;
  height: 4px;
  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover::after {
  width: 100%;
}

.adress-item {
  position: relative;
}

.adress-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  border-radius: 2px;
  background: #404bbf;
  width: 0;
  height: 4px;
  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-item:hover::after {
  width: 100%;
}

.nav-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

.nav-header .nav-link {
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-header .nav-link:hover {
  color: #404bbf;
}

.nav-header .nav-link:active {
  color: #404bbf;
}

.nav-header .nav-link:focus {
  color: #404bbf;
}

.nav-mailphone-list {
  display: flex;
  gap: 40px;
}

.nav-mail-phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  display: flex;
  margin-left: auto;
  padding: 24px 0;
}

.nav-link-mailphone {
  text-decoration: none;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mailphone:hover,
.nav-link-mailphone:focus {
  color: #404bbf;
}

/* ------------------------------------- */
/* --------------HERO------------- */

.main-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7) 70%,
      rgba(46, 47, 66, 0.7) 70%
    ),
    url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
}

.header-main {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}

.button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border: transparent;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
button:focus {
  background-color: #404bbf;
}

/* ------------------------------------- */
/* --------------DESCRIPTION------------- */

.description {
  padding: 120px 0;
}

.description-list {
  display: flex;
  gap: 24px;
}

.description-item {
  width: calc((100% - 72px) / 4);
}

.svg-description {
}

.svg-background {
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.decription-headerthree {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.decription-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------------------------- */
/* --------------TEAM SECTION------------- */

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.image-list {
  display: flex;
  gap: 24px;
}

.team-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
}

.svg-team {
  padding: 12px;
}

.image-group {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-image {
}

.team-image,
.portfolio-image {
  display: block;
}

.image-headerthree {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.image-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-name-position {
  padding: 32px 0;
}

/* ------------------------------------- */
/* --------------PORTFOLIO------------- */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
}

.portfolio-list {
  width: calc((100% - 48px) / 3);
}

.portfolio-image {
}

.portfolio-headertwo {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-headerthree {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list:hover .portfolio-animtext-wrap {
  transform: translateY(0%);
}

.portfolio-animtext-content {
  position: relative;
  overflow: hidden;
}

.portfolio-animtext-wrap {
  position: absolute;
  top: 0;
  background: #4d5ae5;
  height: 100%;
  padding: 40px 32px 164px;
  transform: translateY(100%);
  transition-property: translateY(0%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-anim-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------------------------------- */
/* --------------FOOTER------------- */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.span-footer {
  color: #f4f4fd;
}

.footer-wrap {
  display: flex;
}

.footer-social {
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-right {
}

.footer-left {
  margin-right: 120px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.icon-list {
  display: flex;
}

.svg-team-footer {
  padding: 8px;
}
